body {
    background-color: white;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#detail-page {
    margin-left: 2rem;
}

#detail-image p {
    justify-content: center;
}

.main-img {
    width: 65rem;
    gap: 4rem;
    margin-left: 25rem;
    border-radius: 6px;
}

.back-btn {
    background: #ffffff;
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 80rem;
}

.back-btn:hover {
    background: #C5B358;
}

.thumbnails-container {
    margin-left: 15rem;
}

.thumbnails-container img {
    width: 20rem;
    height: 14rem;
    border-radius: 8px;
    margin-right: 5px;
}

.thumbnails-container img:active {
    opacity: 0.5;
}

.prev-btn {
    margin-left: 5rem;
}