body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffffff;
  /* background: linear-gradient(0deg, #000000 0%, #202020 20%, #404040 40%, #606060 60%, #808080 80%, #a0a0a0 100%); */
}

h1 {
  color: #C5B358;
  font-size: 2.5em;
}

p {
  color: #000000;
  font-size: 1.5em;
}

img {
  display: block;
  max-width: 100%;
}

.ligne {
  border: 0;
  margin: 5px;
  margin-inline: auto;
  width: 62%;
  height: 7px;
  border-radius: 3px;
  background-color: #C5B358;
}

/* accueil */

#accueil {
  width: 100%;
  height: 94vh;
  background-image: url(../img/paris-chantier/IMG_20220405_142220.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.center_txt {
  position: absolute;
  text-align: center;
  font-size: 4em;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

/* navbar */

.navbar {
  position: sticky;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #C5B358;
  overflow: hidden;
  width: 100%;
  height: 6vh;
  top: 0;
  z-index: 99;
}

.navbar a {
  color: #000000;
  text-decoration: none;
  font-size: 1.5rem;
  transition: 100ms;
}

.navbar a:hover {
  /* color: #ffffff; */
  text-decoration: none;
  font-size: 2rem;
}

.navbar .logo {
  width: 25px;
  height: 30px;
}

/* savoir-faire */

.slider {
  margin-block: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.prev {
  font-size: 4em;
  width: 200px;
  height: auto;
  color: #000000;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.next {
  font-size: 4em;
  width: 200px;
  height: auto;
  color: #000000;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.slide {
  display: none;
}

.slide.displaySlide {
  display: block;
}

.slide_img {
  max-width: 40%;
  max-height: 750px;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.slide_txt {
    text-align: center;
    width: 40%;
}

.slide_content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 60px;
}

/* realisations */

.gallery {
  max-width: 95vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-inline: auto;
  margin-block: 100px;
}



.gallery img {
  width: 450px;
  height: 450px;
  object-fit: cover;
  border-radius: 10px;
  margin: 20px;
  cursor: pointer;
  transition: 100ms;
}

.gallery img:hover {
  transform: scale(1.1);
  color: #C5B358;
}

.extend-btn {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(135deg, #C5B358 0%, #9b8a3d 100%);
  border: none;
  border-radius: 25px;
  cursor: pointer;
  opacity: 0;
  transition: all 0.3s ease;
  box-shadow: 0 4px 15px rgba(197, 179, 88, 0.4);
  z-index: 2;
  align-items: center;
}

.extend-btn img {
  object-fit: contain;
  width: 25px;
  height: 25px;
  margin-top: 8px;
  margin-left: 8px;
}

.image-items {
  position: relative;
  text-align: center;
  border-radius: 10px;
  transition: all 0.3s ease;
}

/* Effet hover sur desktop */
@media (hover: hover) {
    
    .gallery img:hover {
      box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.6)
    }

    .extend-btn:hover {
      box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
    }

    .extend-btn img:hover {
      box-shadow: none;
    }

    .image-items:hover .extend-btn {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1.05);
    }
}

/* Effet click sur mobile */
@media (hover: none) {
    .image-items.active::before {
        box-shadow: 10px 12px 10px rgba(0, 0, 0, 0.6);
    }
    
    .image-items.active .gallery-image {
        transform: scale(1.02);
    }
}

/* infos/a propos */

#infos {
  margin-inline: auto;
}

.infos_txt {
  text-align: center;
  width: 50%;
}

.infos_img {
  max-width: 500px;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.infos_or-img {
  display: flex;
  flex-direction: column; 
}
 
.info_entreprise {
  margin-top: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.info_or {
  margin-top: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.info_staff {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

/* contact */

.formulaire {
  display: flex;
  justify-content: center;
}

.formulaire form {
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.6);
  background: linear-gradient(#C5B358 80%,#9b8a3d);
  border-radius: 8px;
}

#h1-contact {
  margin: 25px;
  font-size: 65px;
  justify-content: center;
  display: flex;
  margin-bottom: 3rem;
}

.form-group {
  display: flex;
}

.form-group textarea {
  width: 30vh;
  height: 10vh;
  margin-left: 60px;
}

footer {
  position: relative;
  background-image: linear-gradient(180deg, white 90%, #C5B358 10%);
}

footer p {
  margin-left: 15rem;
  margin-right: 15rem;
  font-size: 12px;
}

.menu-wrapper {
    position: relative;
    display: inline-block;
  }

  .menu-box {
      display: none;
      width: 200px;
      background-color: #C5B358;
      border-radius: 14px;
      box-shadow: 6px 8px 12px rgba(0, 0, 0, 0.6);
      padding: 16px;
      position: absolute;
      top: 110%;
      right: 3%;
      z-index: 10;
  }

  .menu-box a {
      display: block;
      color: #333;
      text-decoration: none;
      padding: 10px 12px;
      margin: 8px 0;
      border-radius: 8px;
      transition: background-color 0.3s, color 0.3s;
  }

  .menu-box a:hover {
      background-color: #000000;
      color: white;
  }

  /* Show menu if clicked (JS toggles "active") */
  .menu-box.active {
      display: block;
  }

  .menu-box.active .navbar {
    overflow: visible;
  }

  #checkbox {
    display: none;
  }

  .toggle {
    position: relative;
    width: 40px;
    cursor: pointer;
    margin: auto;
    display: block;
    height: calc(4px * 3 + 11px * 2);
  }

  .bar {
    position: absolute;
    left: 0;
    right: 0;
    height: 4px;
    border-radius: calc(4px / 2);
    background: #000000;
    color: inherit;
    opacity: 1;
    transition: none 0.35s cubic-bezier(.5,-0.35,.35,1.5) 0s;
  }

  /* hamburger animation */

  .bar--top {
    bottom: calc(50% + 11px + 4px/ 2);
    transition-property: bottom,transform;
    transition-delay: calc(0s + 0.35s) * .6;
  }

  .bar--middle {
    top: calc(50% - 4px/ 2);
    transition-property: opacity,transform;
    transition-delay: calc(0s + 0.35s * .3);
  }

  .bar--bottom {
    top: calc(50% + 11px + 4px/ 2);
    transition-property: top,transform;
    transition-delay: 0s;
  }

  #checkbox:checked + .toggle .bar--top {
    transform: rotate(-135deg);
    transition-delay: 0s;
    bottom: calc(50% - 4px/ 2);
  }

  #checkbox:checked + .toggle .bar--middle {
    opacity: 0;
    transform: rotate(-135deg);
    transition-delay: calc(0s + 0.35s * .3);
  }

  #checkbox:checked + .toggle .bar--bottom {
    top: calc(50% - 4px/ 2);
    transform: rotate(-225deg);
    transition-delay: calc(0s + 0.35s * .6);
  }

/* responsive */

@media screen and (max-width: 800px) {
  #navPc {
    display: none;
  }
  
  .navbar {
    overflow: visible;
    position: sticky;
    justify-content: space-between;
  }

  .navbar .logo {
    width: 42px;
    height: 50px;
    left: 5px;
  }

  .toggle {
    right: 5px;
  }

  .gallery img:hover {
    transform: none;
  }

}

@media screen and (min-width: 801px) {
  #navMob {
    display: none;
  }
}